<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <form action='/users' method='post'>
            Your Name: <input type='text' name='name'>
            Dojo Location: <select name="location">
                <option value="siliconValley">Silicon Valley</option>
                <option value="losAngeles">Los Angeles</option>
                <option value="dallas">Dallas</option>
                <option value="bellevue">Bellevue</option>
                <option value="other">other</option>
            </select>
            Favorite Language: <select name="language">
                <option value="python">Python</option>
                <option value="javascript">Javascript</option>
                <option value="c">C++</option>
                <option value="c#">C#</option>
                <option value="other">other</option>
            </select>
            <textarea name="comments" cols="20" rows="3"></textarea>
            <input type='submit' value='create user'>
        </form>
    </body>
</html>